{% extends 'index.html' %}
{% load static %}

{% block title %}
    Creación de autores
{% endblock title %}

{% block body %}

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Encabezado</h5>

            <!-- Multi Columns Form -->
            <form method="POST" action="#" enctype="multipart/form-data" class="form-horizontal">
                {% csrf_token %}

                {% if error %}
                    <h2>
                        {{ error }}
                    </h2>
                {% else %}
                    <div class="row form-group">
                        <div class="col col-md-3"> {{ form.nombre.label }} </div>
                        <div class="col-12 col-md-9"> {{ form.nombre }} </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-3"> {{ form.apellidos.label }} </div>
                        <div class="col-12 col-md-9"> {{ form.apellidos }} </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-3"> {{ form.nacionalidad.label }} </div>
                        <div class="col-12 col-md-9"> {{ form.nacionalidad }} </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-3"> {{ form.descripcion.label }} </div>
                        <div class="col-12 col-md-9"> {{ form.descripcion }} </div>
                    </div>

                    <div class="row">
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Crear</button>
                            <button type="reset" class="btn btn-secondary">Reset</button>
                        </div>
                    </div>
                {% endif %}

            </form>
            <!-- End Multi Columns Form -->

        </div>
    </div>

{% endblock body %}
