{% extends 'index.html' %}
{% load static %}

{% block title %}
    Creación de usuarios
{% endblock title %}

{% block DataTable %}
    <script src="{% static 'lib/DataTables-1.11.5/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'lib/DataTables-1.11.5/js/dataTables.bootstrap5.min.js' %}"></script>
{% endblock DataTable %}    

{% block body %}

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Encabezado</h5>

            <!-- Multi Columns Form -->
            <form id="form_creacion" method="POST" action="{% url 'usuarios:registrar_usuarios' %}" enctype="multipart/form-data" class="form-horizontal">
                {% csrf_token %}

                <div id="errores">
                    
                </div>
                {{ form.as_p }}

                <div class="row">
                    <div class="text-center">
                        <button id="boton_registrar" type="button" class="btn btn-primary" onClick="registrar();">Crear</button>
                        <a href="{% url 'usuarios:listar_usuarios' %}" type="button" class="btn btn-outline-danger">Cancelar</a>
                    </div>
                </div>

            </form>
            <!-- End Multi Columns Form -->

        </div>
    </div>

    <script type=text/javascript>
        var success_url = "{% url 'usuarios:listar_usuarios' %}"; 
    </script>

{% endblock body %}

{% block extraJS %}
    <script src="{% static 'biblioteca/assets/js/usuarios/index.js' %}"></script>
    <script src="{% static 'biblioteca/assets/js/usuarios/custom.js' %}"></script>
{% endblock extraJS %}
