{% extends 'index.html' %}
{% load static %}

{% block title %}
    Lista de usuarios
{% endblock title %}

{% block DataTable %}
    <script src="{% static 'lib/DataTables-1.11.5/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'lib/DataTables-1.11.5/js/dataTables.bootstrap5.min.js' %}"></script>
{% endblock DataTable %}

{% block body %}
    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Datatables</h5>

                        <!-- Table with stripped rows -->
                        <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
                            <div class="dataTable-container">
                                <table id="tabla_usuarios" class="table datatable dataTable-table">
                                    <thead>
                                        <tr>
                                            <th scope="col" data-sortable="">
                                                <a href="#" class="dataTable-sorter">#</a>
                                            </th>
                                            <th scope="col" data-sortable="">
                                                <a href="#" class="dataTable-sorter">Username</a>
                                            </th>
                                            <th scope="col" data-sortable="">
                                                <a href="#" class="dataTable-sorter">Nombres</a>
                                            </th>
                                            <th scope="col" data-sortable="">
                                                <a href="#" class="dataTable-sorter">Apellidos</a>
                                            </th>
                                            <th scope="col" data-sortable="">
                                                <a href="#" class="dataTable-sorter">Email</a>
                                            </th>
                                            <th scope="col" data-sortable="">
                                                <a href="#" class="dataTable-sorter">Opciones</a>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                        <!-- End Table with stripped rows -->

                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock body %}
{% block extraJS %}
    <script src="{% static 'biblioteca/assets/js/usuarios/index.js' %}"></script>
{% endblock extraJS %}
