{% extends 'index.html' %}
{% load static %}

{% block title %}
    Creación de libros
{% endblock title %}

{% block DateTimePickerHeader %}
    <link rel="stylesheet" href="{% static 'lib/date-time-phone/jquery-ui.css' %}">
        <link rel='stylesheet' href="{% static 'lib/date-time-phone/jquery-ui-timepicker-addon.css' %}"/>
        <script src="{% static 'lib/jquery/jquery-3.6.0.min.js' %}"></script>
        <!-- XDSoft DateTimePicker -->
        <!-- Date Time Picker JS -->
        <script src="{% static 'lib/date-time-phone/jquery-ui.js' %}"></script>
        <script src="{% static 'lib/date-time-phone/jquery-ui-timepicker-addon.js' %}"></script>
    {% endblock DateTimePickerHeader %}

    {% block body %}

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Encabezado</h5>

                <!-- Multi Columns Form -->
                <form method="POST" action="#" enctype="multipart/form-data" class="form-horizontal">
                    {% csrf_token %}

                    {{ form.as_p }}

                    <div class="row">
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Crear</button>
                            <button type="reset" class="btn btn-secondary">Reset</button>
                        </div>
                    </div>

                </form>
                <!-- End Multi Columns Form -->

            </div>
        </div>

    {% endblock body %}

    {% block DateTimePickerJS %}
        <script>
            $(function () {
                $("#id_fecha_publicacion").datetimepicker({dateFormat: 'dd/mm/yy', maxDate: 0, controlType: 'select'}).attr("autocomplete", "off");
            });

            $.timepicker.regional['es'] = {
                timeOnlyTitle: 'Elegir una hora',
                timeText: 'Hora',
                hourText: 'Horas',
                minuteText: 'Minutos',
                secondText: 'Segundos',
                millisecText: 'Milisegundos',
                microsecText: 'Microsegundos',
                timezoneText: 'Uso horario',
                currentText: 'Hoy',
                closeText: 'Cerrar',
                timeFormat: 'HH:mm',
                timeSuffix: '',
                amNames: [
                    'a.m.', 'AM', 'A'
                ],
                pmNames: [
                    'p.m.', 'PM', 'P'
                ],
                monthNames: [
                    'Enero',
                    'Febrero',
                    'Marzo',
                    'Abril',
                    'Mayo',
                    'Junio',
                    'Julio',
                    'Agosto',
                    'Septiembre',
                    'Octubre',
                    'Noviembre',
                    'Diciembre'
                ],
                monthNamesShort: [
                    'Ene',
                    'Feb',
                    'Mar',
                    'Abr',
                    'May',
                    'Jun',
                    'Jul',
                    'Ago',
                    'Sep',
                    'Oct',
                    'Nov',
                    'Dic'
                ],
                dayNames: [
                    'Domingo',
                    'Lunes',
                    'Martes',
                    'Miércoles',
                    'Jueves',
                    'Viernes',
                    'Sábado'
                ],
                dayNamesShort: [
                    'Dom',
                    'Lun',
                    'Mar',
                    'Mié',
                    'Juv',
                    'Vie',
                    'Sáb'
                ],
                dayNamesMin: [
                    'Do',
                    'Lu',
                    'Ma',
                    'Mi',
                    'Ju',
                    'Vi',
                    'Sá'
                ],
                isRTL: false
            };
            $.timepicker.setDefaults($.timepicker.regional['es']);
        </script>
    {% endblock DateTimePickerJS %}
