{% extends 'index.html' %}
{% load static %}

{% block title %}
    Creación de libros
{% endblock title %}

{% block DateTimePickerHeader %}
    <link rel="stylesheet" href="{% static 'lib/date-time-phone/jquery-ui.css' %}">
        <link rel='stylesheet' href="{% static 'lib/date-time-phone/jquery-ui-timepicker-addon.css' %}"/>
        <!-- XDSoft DateTimePicker -->
        <!-- Date Time Picker JS -->
        <script src="{% static 'lib/date-time-phone/jquery-ui.js' %}"></script>
        <script src="{% static 'lib/date-time-phone/jquery-ui-timepicker-addon.js' %}"></script>
    {% endblock DateTimePickerHeader %}

    {% block body %}

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Encabezado</h5>

                <!-- Multi Columns Form -->
                <form method="POST" action="#" enctype="multipart/form-data" class="form-horizontal">
                    {% csrf_token %}

                    {{ form.as_p }}

                    <div class="row">
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Crear</button>
                            <button type="reset" class="btn btn-secondary">Reset</button>
                        </div>
                    </div>

                </form>
                <!-- End Multi Columns Form -->

            </div>
        </div>

    {% endblock body %}

    {% block DateTimePickerJS %}
        <script src="{% static 'biblioteca/assets/js/custom.js' %}"></script>
    {% endblock DateTimePickerJS %}
