{% extends 'index.html' %}
{% load static %}

{% block title %}
    Creación de autores
{% endblock title %}

{% block body %}

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Multi Columns Form</h5>

            <!-- Multi Columns Form -->
            <form method="POST" action="#">
                {% csrf_token %}

                {% if error %}
                    <h2>
                        {{ error }}
                    </h2>
                {% else %}
                    <div class="row form-group">
                        <div class="col col-md-3"> <label for="text-input" class="form-control-label">Nombre</label> </div>
                        <div class="col-12 col-md-9"><input type="text" name="nombres" class="form-control" placeholder="Ingrese el nombre del autor"></div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-3"> <label for="text-input" class="form-control-label">Apellidos</label> </div>
                        <div class="col-12 col-md-9"><input type="text" name="apellidos" class="form-control" placeholder="Ingrese los apellidos del autor"></div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-3"> <label for="text-input" class="form-control-label">Nacionalidad</label> </div>
                        <div class="col-12 col-md-9"><input type="text" name="nacionalidad" class="form-control" placeholder="Ingrese la nacionalidad del autor"></div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-3"> <label for="text-input" class="form-control-label">Descripción</label> </div>
                        <div class="col-12 col-md-9"><textarea name="descripcion" class="form-control" placeholder="Ingrese la descripción del autor" col="200" rows="10"></textarea></div>
                    </div>

                    <div class="row">
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Crear</button>
                            <button type="reset" class="btn btn-secondary">Reset</button>
                        </div>
                    </div>
                {% endif %}

            </form>
            <!-- End Multi Columns Form -->

        </div>
    </div>

{% endblock body %}
